@model WebBanHangOnline.Models.EF.Category

@{
    ViewBag.Title = "Thêm mới danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Form Category</h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Form Add New<small></small></h2>
                        <div class="clearfix"></div>
                    </div>
                    @using (Html.BeginForm("Create", "Category", FormMethod.Post, new { }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="x_content">
                            <form class="" action="" method="post" novalidate>
                                <div class="clearfix"></div>
                                <span class="section">@ViewBag.title</span>
                                <div class="field item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3  label-align">Title <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6">
                                        <input class="form-control" name="Title" data-validate-length-range="5,250" type="text" required="required" />
                                    </div>
                                </div>
                                <!--<div class="field item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3  label-align">Alias <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6">
                                        <input class="form-control"--> @*data-validate-length-range="6" data-validate-words="2"*@ <!--name="Alias" required="required" />
                                    </div>
                                </div>-->
                                <div class="field item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3  label-align">Description <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6">
                                        <input class="form-control" name="Description" required="required" type="text" />
                                    </div>
                                </div>
                                @*<div class="field item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3  label-align">Link <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6">
                                        <input class="form-control" type="text" name="Link" data-validate-minmax="1,100" required='required'>
                                    </div>
                                </div>*@
                                <div class="field item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3  label-align">Position<span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6">
                                        <input class="form-control" type="number" name="Position" @*data-validate-linked='password'*@ required='required' value="1" />
                                    </div>
                                </div>
                                <div class="field item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3  label-align">Seo Title <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6">
                                        <input class="form-control" type="text" name="SeoTitle" @*data-validate-linked='password'*@ required='required' />
                                    </div>
                                </div>
                                <div class="field item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3  label-align">Seo Description <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6">
                                        <input class="form-control" type="text" name="SeoDescription" @*data-validate-linked='password'*@ required='required' />
                                    </div>
                                </div>
                                <div class="field item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3  label-align">Seo Keywords <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6">
                                        <input class="form-control" type="text" name="SeoKeywords" @*data-validate-linked='password'*@ required='required' />
                                    </div>
                                </div>
                                <div class="ln_solid">
                                    <div class="form-group">
                                        <div class="col-md-6 offset-md-3">
                                            <button type='submit' class="btn btn-primary">Submit</button>
                                            <button type='reset' class="btn btn-success">Reset</button>
                                            <a class="btn btn-danger" type="button" href="/admin/category">Back</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendors/validator/multifield.js"></script>
    <script src="~/Areas/Admin/Assets/vendors/validator/validator.js"></script>

    <!-- Javascript functions	-->
    <script>
    // initialize a validator instance from the "FormValidator" constructor.
        // A "<form>" element is optionally passed as an argument, but is not a must
        var validator = new FormValidator({
            "events": ['blur', 'input', 'change']
        }, document.forms[0]);
        // on form "submit" event
        document.forms[0].onsubmit = function (e) {
            var submit = true,
                validatorResult = validator.checkAll(this);
            console.log(validatorResult);
            return !!validatorResult.valid;
        };
        // on form "reset" event
        document.forms[0].onreset = function (e) {
            validator.reset();
        };
        // stuff related ONLY for this demo page:
        $('.toggleValidationTooltips').change(function () {
            validator.settings.alerts = !this.checked;
            if (this.checked)
                $('form .alert').remove();
        }).prop('checked', false);
    </script>

}

