@model IEnumerable<WebBanHangOnline.Models.EF.ProductCategory>

@if (Model != null && Model.Any())
{
    <div class="col-lg-12">
        <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            @foreach (var item in Model)
            {
                <li data-filter=".@item.Alias">@item.Title</li>
            }
        </ul>
    </div>
}