@model IEnumerable<WebBanHangOnline.Models.EF.Category>

@if (Model != null && Model.Any())
{
    <nav class="main-menu">
        <ul>
            @foreach (var item in Model)
            {
                if (item.Alias.Equals("trang-chu"))
                {
                    item.Alias = "";
                }
                if (!string.IsNullOrEmpty(item.Link))
                {
                    item.Alias = item.Link;
                }
                <li><a href="/@item.Alias">@item.Title</a></li>
            }
            <li>
                <div class="header-icons">
                    <a class="shopping-cart" href="/gio-hang"><i class="fas fa-shopping-cart"></i></a>
                    <a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                </div>
            </li>
        </ul>
    </nav>
    <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
    <div class="mobile-menu"></div>
}
