@model IEnumerable<WebBanHangOnline.Models.EF.ProductCategory>
@{
    ViewBag.Title = "Sản phẩm đang khuyến mãi";
}

@if (Model != null && Model.Any())
{
    <div class="product-section mt-150 mb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="section-title">
                        <h3><span class="orange-text">@ViewBag.Title</span></h3>
                        <p>Sản phẩm đang được giảm giá</p>
                    </div>
                </div>
            </div>

            <div class="row">
                @Html.Action("Partial_ProductSales", "Products")
            </div>
        </div>
    </div>
}
