@model IEnumerable<WebBanHangOnline.Models.EF.ProductCategory>

@if (Model != null && Model.Any())
{
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-0 gx-5 align-items-end">
                <div class="col-lg-6">
                    <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                        <h1 class="display-5 mb-3">Sản phẩm nổi bật</h1>
                        <p>Các sản phẩm hiện đang hot có tại shop :v</p>
                    </div>
                </div>
                @*<div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                    <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                        @foreach (var item in Model)
                        {
                            <li class="nav-item me-2">
                                <a class="btn btn-outline-primary border-2 active" data-bs-toggle="pill" href="@item.Alias">@item.Title</a>
                            </li>
                        }
                    </ul>
                </div>*@
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        @Html.Action("Partial_ProductHots", "Products")
                        <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                            <a class="btn btn-primary rounded-pill py-3 px-5" href="#">Browse More Products</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}