@model IEnumerable<WebBanHangOnline.Models.EF.ProductCategory>
@{
    ViewBag.title = "Danh mục sản phẩm";
}
@if (Model != null && Model.Any())
{
    <div class="row">
        <div class="col-lg-12">
            <ul class="filter__controls">
                @foreach (var item in Model)
                {
                    <li data-filter=".@item.Alias">@item.Title</li>
                }
            </ul>
        </div>
    </div>
}