@model IEnumerable<WebBanHangOnline.Models.EF.Category>

@if (Model != null && Model.Any())
{
    <div class="navbar-nav ms-auto p-4 p-lg-0">

        @foreach (var item in Model)
        {
            if (item.Alias.Equals("trang-chu"))
            {
                item.Alias = "";
            }
            if (!string.IsNullOrEmpty(item.Link))
            {
                item.Alias = item.Link;
            }
            <a href="/@item.Alias" class="nav-item nav-link">@item.Title</a>
        }

    </div>
}
